* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Login style */
.loginMain {
  display: flex;
  justify-content: center;
}
.login {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.359);
  display: flex;
  justify-content: center;
}
.image {
  width: 500px;
  height: 400px;
}
.image img {
  width: 100%;
  height: 100%;
}
form {
  padding: 20px;
}
label {
  margin: 20px 0 0px 0;
}
input {
  border: none;
  background-color: #f1f1f1;
  padding: 10px 16px;
  width: 500px;
}
form button {
  border: none;
  padding: 10px 16px;
  margin-top: 20px;
  background-color: #04aa6d;
  color: white;
}
.results {
  display: flex;
  justify-content: center;
}
.result {
  text-align: center;
  margin-top: 30px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.323);
  padding: 20px;
  width: 1040px;
}
